<div id="<%= dom_id to_do_list %>">
  <p>
    <strong>Description:</strong>
    <%= to_do_list.description %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= to_do_list.completed %>
  </p>

</div>
