<h1>Editing To-Do Item</h1>

<div class="card">
  <div class="card-body">
<%= render "form", to_do_list: @to_do_list %>
  </div>
</div>
<br>

<div>
  <%= link_to "Show this To-Do Item", @to_do_list %> |
  <%= link_to "Back to To-Do List", to_do_lists_path %>
</div>
