<p style="color: green"><%= notice %></p>

<center>
<div class="card">
  <div class="card-body">
<%= render "form", to_do_list: @to_do_list %>
</div>
</div>
</center>

<div class="card">
<div class="card-body">
<div id="to_do_lists">
  <% @to_do_lists.each do |to_do_list| %>
    <%= render to_do_list %>
    
      <%= link_to "Show this To-Do Item", to_do_list %>
    </p>
</div>
</div>
</div>
<% end %>
